@charset "UTF-8";
*{
  box-sizing: border-box;
}
html,body {
  height: 100%;
  width: 100%;
  font-family: "微软雅黑";
  background: #f6f6f6;
}
@mixin clearfix{
  zoom: 1;
  &:after{
    display: block;
    clear: both;
    content: '';
  }
}
.container{
  width: 10rem;
  margin: 0 auto;
  .content{
    width: 100%;
    height: 100%;
    p{
      width: 100%;
      border-bottom: 1px solid #dcdcdc;
      padding: 0.346667rem 0;
      padding-left: 1.8rem;
      background: #fff;
      input{
        height: 100%;
        border: none;
        outline: none;
      }
      &:nth-of-type(1){
        position: relative;
        span{
          background: url("../../images/xm_03.jpg");
          background-size: 100% 100%;
          width: 0.426667rem;
          height: 0.453333rem;
          position: absolute;
          left: 0.986667rem;
          top:0.4rem;
        }
      }
      &:nth-of-type(2){
        position: relative;
        span{
          background: url("../../images/telnum_03.jpg");
          background-size: 100% 100%;
          width: 0.32rem;
          height: 0.493333rem;
          position: absolute;
          left: 0.986667rem;
          top:0.4rem;
        }
      }
    }
    button{
      width: 9.373333rem;
      height: 1.2rem;
      background: #feb33e;
      margin: 0 auto;
      margin-top: 1.36rem;
      display: block;
      border: none;
      outline: none;
      border-radius: 0.1rem;
      font-size: 0.45rem;
      letter-spacing: 0.2rem;
      a{
        color: white;
        width: 100%;
        height: 100%;
        display: inline-block;
        line-height: 1.2rem;
        text-decoration: none;
      }
    }
    &>span{
      display: block;
      color: #8e8e8e;
      text-align: center;
      margin-top: 0.506667rem;
    }
  }
}
.footer{
  position: fixed;
  bottom: 0;
  z-index: 999;
  background: #fff;
  width: 10rem;
  height: 1.466667rem;
  border-top: 1px solid #dcdcdc;
  ul{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    li{
      text-align: center;
      width: 100%;
      padding-top: 0.28rem;
      a{
        color: #878787;
        text-decoration: none;
      }
      &>.on{
        color: #1da09c;
      }
      &:nth-of-type(1){
        &>a{
          &>span{
            background: url("../../images/search_03.jpg");
            background-size: 100% 100%;
            width: 0.4rem;
            height: 0.4rem;
            display: inline-block;
          }
        }
      }
      &:nth-of-type(2){
        &>a{
          &>span{
            background: url("../../images/address_03.jpg");
            background-size: 100% 100%;
            width: 0.453333rem;
            height: 0.44rem;
            display: inline-block;
          }
        }
      }
      &:nth-of-type(3){
        &>a{
          &>span{
            background: url("../../images/lv_03.jpg");
            background-size: 100% 100%;
            width: 0.4rem;
            height: 0.48rem;
            display: inline-block;
          }
        }
      }
      &:nth-of-type(4){
        &>a{
          &>span{
            background: url("../../images/me_03.jpg");
            background-size: 100% 100%;
            width: 0.4rem;
            height: 0.426667rem;
            display: inline-block;
          }
        }
      }
    }
  }
}