@charset "UTF-8";
* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  font-family: "微软雅黑"; }

.container {
  width: 10rem;
  margin: 0 auto; }
  .container .content {
    padding-bottom: 2.666667rem; }
    .container .content .ulO {
      width: 100%;
      background: #fff; }
      .container .content .ulO li {
        height: 1.173333rem;
        width: 100%;
        border-bottom: 1px solid #dcdcdc;
        line-height: 1.173333rem;
        padding-left: 0.573333rem;
        padding-right: 0.44rem;
        color: #878787; }
        .container .content .ulO li span {
          float: right;
          color: #000; }
        .container .content .ulO li .zong {
          color: #feb33e; }
    .container .content #ulO span {
      color: #878787; }
    .container .content .title {
      background: #f6f6f6;
      height: 1.173333rem;
      padding-top: 0.366667rem;
      padding-left: 0.96rem;
      border-bottom: 1px solid #dcdcdc;
      position: relative; }
      .container .content .title span:nth-of-type(1) {
        background: url("../../images/oldmen.png");
        background-size: 100% 100%;
        width: 0.453333rem;
        height: 0.506667rem;
        position: absolute;
        top: 0.386667rem;
        left: 0.32rem; }
    .container .content .title2 span:nth-of-type(1) {
      background: url("../../images/geren.png");
      width: 0.48rem;
      height: 0.506667rem;
      background-size: 100% 100%; }
    .container .content .evaluate {
      border-bottom: 1px solid #dcdcdc; }
      .container .content .evaluate div {
        padding: 0.4rem 0.333333rem;
        zoom: 1; }
        .container .content .evaluate div:after {
          display: block;
          clear: both;
          content: ''; }
        .container .content .evaluate div > span {
          display: inline-block;
          width: 1.28rem;
          height: 1.28rem;
          float: left; }
          .container .content .evaluate div > span img {
            width: 1.28rem;
            height: 1.28rem; }
        .container .content .evaluate div ul {
          margin-left: 0.36rem;
          float: right;
          width: 7.68rem; }
          .container .content .evaluate div ul li:nth-of-type(1) {
            font-size: 0.373333rem;
            color: #333333; }
            .container .content .evaluate div ul li:nth-of-type(1) p {
              display: inline-block;
              width: 3.36rem;
              height: 0.346667rem;
              margin-left: 0.4rem; }
              .container .content .evaluate div ul li:nth-of-type(1) p span {
                float: left;
                margin-right: 0.133333rem;
                height: 0.8rem;
                display: block; }
              .container .content .evaluate div ul li:nth-of-type(1) p .orange {
                background: url("../../images/pingjia_03.jpg");
                background-size: 100% 100%;
                width: 0.373333rem;
                height: 0.346667rem;
                vertical-align: middle; }
              .container .content .evaluate div ul li:nth-of-type(1) p .gray {
                background: url("../../images/pingjia2_03.jpg");
                background-size: 100% 100%;
                width: 0.373333rem;
                height: 0.346667rem;
                vertical-align: middle; }
          .container .content .evaluate div ul li:nth-of-type(2) {
            margin-top: 0.266667rem;
            color: #8e8e8e;
            line-height: 0.6rem; }
          .container .content .evaluate div ul li:nth-of-type(3) {
            width: 100%;
            background: #efefef;
            margin-top: 0.25rem;
            position: relative;
            padding: 0.253333rem 0.266667rem;
            border-radius: 0.1rem; }
            .container .content .evaluate div ul li:nth-of-type(3) > span:nth-of-type(1) {
              position: absolute;
              top: -.08rem;
              left: .4rem;
              display: inline-block;
              width: 3px;
              height: 3px;
              border: 3px solid #efefef;
              border-right-color: transparent;
              border-bottom-color: transparent;
              transform: rotateZ(45deg); }
            .container .content .evaluate div ul li:nth-of-type(3) > span:nth-of-type(2) {
              color: #feb33e; }
            .container .content .evaluate div ul li:nth-of-type(3) > span:nth-of-type(3) {
              color: #6c6a6b; }
    .container .content .old table {
      width: 100%; }
      .container .content .old table tr {
        height: 1.173333rem;
        border-bottom: 1px solid #dcdcdc; }
        .container .content .old table tr td {
          text-align: left;
          height: 1.173333rem;
          padding-left: 0.573333rem; }
    .container .content .old a {
      width: 3.333333rem;
      height: 0.8rem;
      display: block;
      background: #feb33e;
      border-radius: 0.1rem;
      line-height: 0.8rem;
      text-align: center;
      color: white;
      margin: 0.4rem auto;
      text-decoration: none; }
    .container .content .contacts {
      background: #f6f6f6;
      padding-bottom: 0.533333rem;
      border-bottom: 1px solid #dcdcdc; }
      .container .content .contacts p:not(.title) {
        background: white;
        border-bottom: 1px solid #dcdcdc;
        padding: 0.413333rem 0.573333rem; }
        .container .content .contacts p:not(.title) span:nth-of-type(2) {
          margin-left: 0.226667rem; }
        .container .content .contacts p:not(.title) span:nth-of-type(3) {
          margin-left: 1.093333rem; }
    .container .content .list {
      background: #f6f6f6;
      padding-bottom: 0.5rem; }
      .container .content .list dl {
        padding: 0.4rem 0.333333rem;
        display: flex;
        display: -webkit-flex;
        border-bottom: 1px solid #dcdcdc;
        background: white; }
        .container .content .list dl dt {
          width: 2.933333rem;
          height: 2.2rem; }
          .container .content .list dl dt img {
            width: 100%;
            height: 100%; }
        .container .content .list dl dd {
          margin-left: 0.373333rem; }
          .container .content .list dl dd p {
            line-height: 0.75rem;
            color: #333333; }
            .container .content .list dl dd p:last-child {
              color: #8e8e8e; }
    .container .content .payment {
      width: 100%;
      height: 1.2rem;
      line-height: 1.2rem;
      padding-left: 0.56rem;
      position: fixed;
      bottom: 0;
      margin-bottom: 1.466667rem;
      background: white;
      border-top: 1px solid #dcdcdc; }
      .container .content .payment p {
        float: left;
        color: #6c6a6b; }
        .container .content .payment p span:nth-of-type(2) {
          margin-left: 0.333333rem; }
      .container .content .payment > span {
        width: 2.506667rem;
        height: 1.2rem;
        float: right;
        background: #feb33e;
        text-align: center; }
        .container .content .payment > span a {
          width: 100%;
          height: 100%;
          color: white;
          font-size: 0.4rem;
          line-height: 1.2rem;
          display: block;
          text-decoration: none; }
    .container .content .now {
      width: 100%;
      padding: 0.533333rem 0.32rem;
      background: #f6f6f6; }
      .container .content .now a {
        display: block;
        width: 100%;
        height: 1.2rem;
        background: #feb33e;
        border-radius: 0.1rem;
        text-align: center;
        color: white;
        line-height: 1.2rem;
        font-size: 0.4rem;
        text-decoration: none; }

.footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  background: #fff;
  width: 10rem;
  height: 1.466667rem;
  border-top: 1px solid #dcdcdc; }
  .footer ul {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100%; }
    .footer ul li {
      text-align: center;
      width: 100%;
      padding-top: 0.28rem; }
      .footer ul li a {
        color: #878787;
        text-decoration: none; }
      .footer ul li > .on {
        color: #1da09c; }
      .footer ul li:nth-of-type(1) > a > span {
        background: url("../../images/search_03.jpg");
        background-size: 100% 100%;
        width: 0.4rem;
        height: 0.4rem;
        display: inline-block; }
      .footer ul li:nth-of-type(2) > a > span {
        background: url("../../images/address_03.jpg");
        background-size: 100% 100%;
        width: 0.453333rem;
        height: 0.44rem;
        display: inline-block; }
      .footer ul li:nth-of-type(3) > a > span {
        background: url("../../images/lv_03.jpg");
        background-size: 100% 100%;
        width: 0.4rem;
        height: 0.48rem;
        display: inline-block; }
      .footer ul li:nth-of-type(4) > a > span {
        background: url("../../images/me_03.jpg");
        background-size: 100% 100%;
        width: 0.4rem;
        height: 0.426667rem;
        display: inline-block; }

/*# sourceMappingURL=reservation.css.map */
